<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Pl2</servlet-name>
        <servlet-class>Pl2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg2</servlet-name>
        <servlet-class>Reg2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dlogin</servlet-name>
        <servlet-class>Dlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alogin</servlet-name>
        <servlet-class>Alogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dregister</servlet-name>
        <servlet-class>Dregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ddelete</servlet-name>
        <servlet-class>Ddelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dedit</servlet-name>
        <servlet-class>Dedit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>AddDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pl2</servlet-name>
        <url-pattern>/Pl2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg2</servlet-name>
        <url-pattern>/Reg2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dlogin</servlet-name>
        <url-pattern>/Dlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alogin</servlet-name>
        <url-pattern>/Alogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dregister</servlet-name>
        <url-pattern>/Dregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ddelete</servlet-name>
        <url-pattern>/Ddelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dedit</servlet-name>
        <url-pattern>/Dedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
